* {

    box-sizing: border-box;

}

:root {
    --Black: black;
    --LightCoral: #2252F0;
    --Orange-light: #48A6F0;
    --white-light: #feffdf;
    --orange: #48A6F0;
}

body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff !important
}

/*container grid*/

.contenedor {

    width: 95%;
    max-width: 10000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header "
        "menu menu"
        "container container"
        "footer footer"
    ;
}

.contenedor>.contenedor .header,

.contenedor .menu,

.contenedor .container,

.contenedor .footer,

.contenedor .menu {
    grid-area: menu;
}

.contenedor .header {

    grid-area: header;


}

.contenedor .container {

    grid-area: container;


}

.contenedor .footer {

    grid-area: footer;

}


/*header*/

.header {
    width: 100%;
    height: 100%;
    background-image: url(../img/ventanas/298734363_594980908672019_9202559192583188294_n.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

.header__fondo {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.header__titulo {


    font-size: 90px;
    font-weight: 400;
    height: 600px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #C2DEF5;

}

/*Navbar*/

a {
    text-decoration: none
}

.menu {

    width: 100%;
    height: 100%;
    z-index: 950;
    background: var(--LightCoral);
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    padding: 10px 30px;

}

.menu__item {
    background-color: var(--LightCoral);
    display: inline;
    padding: 10px 30px;
    font-size: 26px;
    transition: .8s ease all;
    color: var(--white-light);
}

.menu__item:hover {
    color: var(--white-light);
    text-decoration: none;
    transition: 1.1s;
    transform: scale(1.2);
    background-color: var(--Orange-light);
}

/*footer*/

.contenedor .footer {

    margin: 20X 20px;
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #2252F0;

}

.footer img {

    height: 30px;
    width: 30px;

}



#textarea {

    resize: none;

}


@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "header header"
            "menu menu"
            "container container"
            "footer footer"
        ;
    }

    .contenedor .header__titulo {

        font-size: 60px;

    }
}